<% if  @user == current_user %>
  <h1>Tus facturas</h1>
  <%= link_to "Agregar nueva factura", new_user_factura_path(@user), class: "btn btn-primary" %>
  <br>
<% else %>
  <h1>Facturas de <%= @user.name %></h1>
<% end %>
<ul>
  <% @facturas.each do |factura| %>
  <li>
      <p><%= factura.amount %> € - <%= factura.description %></p>
  </li>
  <% end %>
</ul>
<%= link_to "Volver a la pagina principal", root_path %>
