<% if @user == current_user %>
  <h1>Tus facturas</h1>
  <br>
<% else %>
  <h1>Facturas de <%= @user.name %></h1>
<% end %>
<ul class="home-page-card row">
  <div class="col-xs-5">
  <% @facturas.each do |factura| %>
  <li class="home-page-li">
      <span>
        <%= factura.amount %> €
      </span>
      <span>
        <%= factura.description %>  </p>
      </span>
      <span>
        <%= factura.created_at.strftime("%d/%m/%y") %>
      </span>
  </li>
  <% end %>
  </div>
</ul>
<% if @user == current_user %>
  <%= link_to "Agregar nueva factura", new_user_factura_path(@user), class: "btn btn-primary" %>
<% end %>
<%= link_to "Volver a la pagina principal", root_path %>
